/* Fonts */
/** pt-sans-regular - latin_cyrillic **/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/** pt-sans-700 - latin_cyrillic **/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-black-lightest: #666666;
  --basic-gray: #a9a9a9;
  --basic-gray-transparent: rgba(0, 0, 0, 0.3);
  --basic-gray-middle: #bdbbbc;
  --basic-gray-light: #cacaca;
  --basic-gray-lightest: #e5e5e5;
  --basic-gray-white-dark: #ebebeb;
  --basic-gray-white: #eeeeee;
  --basic-white-gray: #f2f2f2;
  --basic-white-transparent: rgba(255, 255, 255, 0.9);
  --basic-white-super-transparent: rgba(255, 255, 255, 0.3);
  --basic-white: #ffffff;

  --shadow-gray-light-transparent: rgba(0, 1, 1, 0.15);
  --shadow-gray-transparent: rgba(0, 1, 1, 0.2);

  --basic-blue: #81b3d2;
  --basic-blue-dark: #669ec0;
  --basic-blue-darkest: #5496bd;

  --basic-brown: #766357;
  --basic-brown-dark: #604e43;
  --basic-brown-darkest: #503e33;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white-gray);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Containers */

.main-container {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow-gray-transparent);
}

.inner-container {
  width: 1054px;
  margin: 0 auto;
}

/* Main header */

/* Main navigation */

.main-navigation {
  display: grid;
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
}

/* Logo */

.main-header {
  background-color: var(--basic-white);
}

.main-header-logo {
  grid-area: 1 / 1 / 2 / 2;
  order: 1;
  justify-self: center;
  cursor: pointer;
  z-index: 1;
}

.main-navigation .inner-container {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  background-color: var(--basic-white);
  margin-top: 15px;
  flex-basis: 210px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  margin-left: 18px;
  max-width: 200px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 15px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  color: var(--basic-gray-transparent);
}

/* Greeting */

.greeting {
  margin-top: -23px;
  position: relative;
  height: 509px;
  background-image:
    url("../img/welcome-pattern.svg"),
    url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.welcome-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: auto;
}

/* Features */

.features-header-wrapper {
  text-align: center;
  min-height: 216px;
}

.features-text-main {
  width: 470px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 43px;
  margin: 0 auto;
}

.features-text-secondary {
  font-weight: 400;
  line-height: 26px;
  margin-top: 43px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.feature-item-header {
  width: 149px;
  font-size: 21px;
  line-height: 21px;
  margin: 47px auto 0;
  padding: 0;
}

.feature-item-number {
  display: inline-block;
  margin: 25px auto 0;
  padding: 0;
}

.feature-item-info {
  margin: 23px auto 0;
  width: 305px;
  min-height: 43px;
}

/* Main features */

.feature-item-with-details {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item-main {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  grid-column-start: 1;
  grid-column-end: -1;
}

.feature-item-main-left {
  display: grid;
  grid-template-areas:
    "item image image";
}

.feature-item-main-left .feature-item {
  grid-area: item;
}

.feature-item-main-left img{
  grid-area: image;
}

.feature-item-main-right {
  display: grid;
  grid-template-areas:
    "image image item";
}

.feature-item-main-right .feature-item {
  grid-area: item;
}

.feature-item-main-right img{
  grid-area: image;
}

/* Secondary features */

.feature-item-secondary {
  background-color: var(--basic-gray-white);
}

.feature-item-secondary-info {
  margin: 23px auto 0;
  width: 258px;
  min-height: 43px;
}

.feature-item-secondary .feature-item-info {
  width: 260px;
}

/* Feature details*/

.feature-details-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-detail-item {
  min-height: 330px;
}

.feature-detail-item-info {
  margin: 23px auto 0;
  width: 300px;
  min-height: 43px;
}

.feature-detail-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-detail-item-header::before {
  content: '';
  width: 72px;
  height: 72px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.feature-detail-item-header-house::before {
  background-image: url("../img/icons/house.svg");
}

.feature-detail-item-header-food::before {
  background-image: url("../img/icons/food.svg");
  background-size: 70px 72px;
}

.feature-detail-item-header-gift::before {
  background-image: url("../img/icons/gift.svg");
  background-size: 66px 72px;
}

/* Hotel search */

.hotel-search {
  text-align: center;
}

.hotel-search-text-main {
  margin: 58px auto 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.hotel-search-text-secondary {
  margin: 31px auto 0;
  width: 450px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Buttons */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

/** Main search button **/

.button-main-search {
  margin: 42px auto 0;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: var(--basic-brown);
}

.button-main-search:hover {
  background-color: var(--basic-brown-dark);
}

.button-main-search:focus {
  color: var(--basic-white-super-transparent);
  background-color: var(--basic-brown-darkest);
}

/** Search button **/

.button-search {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  width: 458px;
  min-height: 58px;
  background-color: var(--basic-blue);
}

.button-search:hover {
  background-color: var(--basic-blue-dark);
}

.button-search:focus {
  color: var(--basic-white-super-transparent);
  background-color: var(--basic-blue-darkest);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Hotel search form*/

.search{
  background-color: var(--basic-white);
  min-height: 395px;
  width: 568px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px var(--shadow-gray-light-transparent);
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 458px;
  margin: auto;
  padding: 47px 0 55px;
}

.search-item {
  display: flex;
  align-items: baseline;
}

.search-item label {
  line-height: 26px;
  font-weight: 700;
  width: 112px;
}

.search-item input {
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  width: 346px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--basic-white-gray);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
}

.search-item-small input {
  width: 114px;
}

.search-item input:hover {
  background-color: var(--basic-gray-white-dark);
}

.search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray-lightest);
  box-sizing: border-box;
}

/* Map */

.map {
  text-align: center;
  margin-top: 0;
  margin-bottom: -120px;
  width: 1200px;
  height: 594px;
}

/* Main footer */

.main-footer {
  min-height: 120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--basic-white-transparent);
}

.footer-contacts {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.footer-contacts .footer-phone {
  color: var(--basic-black);
}

.footer-contacts ul {
  list-style: none;
}

.footer-contacts-info {
  justify-self: left;
  text-align: center;
  margin-left: 125px;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 125px auto auto;
  width: 150px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}

.social-button:focus {
  color: var(--basic-white-super-transparent);
  background-color: var(--basic-blue-darkest);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 5px 138px 0 0;
  padding: 0;
  justify-self: right;
  line-height: 26px;
}

/* Hotel filter */

.filters {
  margin-top: -23px;
  text-align: center;
  background-image: url('../img/inner-page-background.jpg');
  color: var(--basic-white);
  min-height: 217px;
}

.filter-form {
  display: flex;
  padding-top: 20px;
}

.fieldset-infrastructure {
  margin-right: 20px;
}

.fieldset-type-of-housing {
  margin-right: auto;
}

.filter-list {
  list-style: none;
}

.filter-option-checkbox {
  text-align: left;
}

.filter-cost {
  width: 317px;
  height: 100%;
  border: 1px solid var(--basic-white);
}

/* Hotel sort */

.inner-page {
  background-color: var(--basic-white);
}

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 87px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.sort-type-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  list-style: none;
}

.sort-text-main {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort-text-main span {
  font-size: 12px;
  line-height: 18px;
}

.sort-item a:not([href]) {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort-item a {
  color: var(--basic-gray-transparent);
  border-bottom: 1px dashed var(--basic-blue);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort-item a:hover {
  color: var(--basic-blue);
}

.sort-item a:focus {
  color: var(--basic-black);
  border-bottom: none;
}

.sort-item:hover {
  color: var(--basic-gray-transparent);
}

/* Catalog */

.catalog-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: 150px;
  border-top: 1px solid var(--basic-gray-lightest);
  list-style: none;
}

.catalog-item-wrapper {
  border-bottom: 1px solid var(--basic-gray-lightest);
}

.catalog-item {
  display: grid;
  grid-template-columns: 135px 139px 1fr 110px;
  grid-template-rows: 30px 30px 30px;
  padding: 30px 0;
}

.catalog-item-image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 135px;
  height: 90px;
}

.catalog-item-header {
  grid-column:  2 / 4;
  grid-row: 1 / 2;
}

.catalog-item h3 {
  color: var(--basic-black);
  margin-top: -5px;
  margin-left: 29px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-item-type {
  grid-column:  2 / 3;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0 0 0 29px;
}

.catalog-item-price {
  grid-column:  3 / 4;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0 0 0 6px;
}

.catalog-item-stars {
  margin-top: -5px;
  padding: 0;
  text-align: right;
  grid-column:  4 / 5;
  grid-row: 1 / 2;
}

.catalog-item-rate {
  text-align: center;
  padding: 5px 0 0;
  width: 110px;
  min-height: 27px;
  grid-column:  4 / 5;
  grid-row: 3 / 4;
  margin: 0;
  color: var(--basic-black-lightest);
  background-color: var(--basic-white-gray);
}

/* Buttons - inner page */

/** Detail button **/

.button-detail {
  padding: 5px 0 0;
  width: 110px;
  min-height: 27px;
  grid-column:  2 / 3;
  grid-row: 3 / 4;
  margin-left: 29px;
  background-color: var(--basic-blue);
}

.button-detail:hover {
  background-color: var(--basic-blue-dark);
}

.button-detail:focus {
  color: var(--basic-white-super-transparent);
  background-color: var(--basic-blue-darkest);
}

/** Booking button **/

.button-booking {
  padding: 5px 0 0;
  margin-left: 6px;
  width: 142px;
  min-height: 27px;
  grid-column:  3 / 4;
  grid-row: 3 / 4;
  background-color: var(--basic-brown);
}

.button-booking:hover {
  background-color: var(--basic-brown-dark);
}

.button-booking:focus {
  color: var(--basic-white-super-transparent);
  background-color: var(--basic-brown-darkest);
}
